body{
    background-color: cornflowerblue;
}

img, button{
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

img{
    width:300px;
    border:3px solid rgb(19, 4, 155);
}

#titulo{
    color: red;
}

.texto2{
    color: green;
}

#titulo, .texto2{
    font-size:25px;
    font-weight:bold;
    border-bottom: 1px solid red;
}

ol li {
    color: rgb(184, 103, 11);
    font-weight: bold;
    font-style: italic;
    font-size:20px;
}

